# Test Assets Files
test/
assets/model/tree
assets/model/wolf
assets/tex/Plants

# Config
.vscode/
.idea/

# Build
build*/
.cache/
*.aux
*.log
*.out

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
#*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
